<footer class="page-footer">
<p>Copyright © {{date format="YYYY"}} <a class="down-a" href="{{@blog.url}}">{{@blog.title}}</a></p>
<p>{{ghost_foot}} Powered by <a class="down-a" target="_blank" href="https://ghost.org">Ghost</a>,Themes <a class="down-a" target="_blank" href="https://weic96.cn/themes-jian">Jian</a>.</p>
</footer>
