<nav class="page-nav">
    <div class="page-nav-logo">
        <img src="{{@blog.logo}}" alt="">
    </div>
    <div class="page-nav-bar">
        <ul>
        {{#foreach navigation}}
        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        </ul>
    </div>
    <div class="page-nav-icon">
        {{!-- 微博 sina-Weibo --}}
        <a href="" class="fa fa-weibo page-nav-icon-bg"></a>
        {{!-- Github --}}
        <a href="" class="fa fa-github page-nav-icon-bg"</a>
        {{!-- 邮箱 E-mail--}}
        <a href="" class="fa fa-envelope page-nav-icon-bg"></a>
        {{!-- RSS --}}
        <a href="{{@blog.url}}/rss" class="fa fa-rss page-nav-icon-bg"></a>
    </div>
</nav>
