{{!< default}}
{{#post}}
<div class="mask"></div>
<div class="container">
    <div class="container-main">
        <article class="post-page-main">
            <header>
                <h2>{{title}}</h2>
            </header>
            <section class="links-page-content">
                {{content}}
            </section>
            <footer>
                
            </footer>
        </article>
    </div>
</div>
{{/post}}